.classpath
.project
sources/sushimi-console/.classpath
sources/sushimi-console/.project
sources/sushimi-console/.settings
sources/sushimi-console/.DS_Store
sources/sushimi-console/tmp/*
sources/sushimi-console/eclipse/*
sources/sushimi-console/precompiled/*
sources/sushimi-console/conf/application.conf
sources/sushimi-web/.classpath
sources/sushimi-web/.project
sources/sushimi-web/.settings
sources/sushimi-web/.DS_Store
sources/sushimi-web/tmp/*
sources/sushimi-web/eclipse/*
sources/sushimi-web/precompiled/*
sources/sushimi-web/conf/application.conf
sources/sushimi-rest-api/.classpath
sources/sushimi-rest-api/.project
sources/sushimi-rest-api/.settings
sources/sushimi-rest-api/.DS_Store
sources/sushimi-rest-api/tmp/*
sources/sushimi-rest-api/eclipse/*
sources/sushimi-rest-api/precompiled/*
sources/sushimi-rest-api/conf/application.conf
.DS_Store
sources/sushimi-mobile/courier-app-android/app/build/

