#{extends 'main.html' /}
#{set title:'Меню - Компания «Сушими»' /}

<style type="text/css">
#menucontrainer {
    position:relative;
    /* background:#444444; */
    height:30px;
    /* margin:20px 0; */
    padding:0;
    float:left;
    width:100%;
    z-index:100 /* для отображения подпунктов поверх остальных блоков */
}
#menucontrainer ul {
    clear:left;
    position:relative;
    right:50%;
    height:30px;
    float:right;
    text-align:center;
    font:15px Arial, Helvetica, sans-serif;
    list-style:none;
    padding:0;
    margin:0
}
#menucontrainer ul li {
    position:relative;
    left:50%;
    float:left;
    height:30px;
    padding:0;
    margin:0
}
#menucontrainer ul li a {
    border-left:1px solid #666;
    display:block;
    /* color: #fff; */
    color: #555;
    text-decoration: none;
    padding:5px 15px;
	//padding:6px 15px
}
#menucontrainer ul li:first-child a {border:none}
 
#menucontrainer ul li:hover a,
#menucontrainer ul li.hover a,
#menucontrainer ul li.active a {
	/* color:#fff */
	background-color: #aaa;
	color: #fff;
}
 
#menucontrainer ul li:hover, 
#menucontrainer ul li.hover, 
#menucontrainer ul li.active {
	/* background: #666 */
}
 
/* Выпадающие пункты */
#menucontrainer ul li ul {
    position:absolute;
    left:0;
    top:30px;
    font-size:12px;
    display:none;
    list-style:none;
    visibility:hidden;
    padding:0;
    margin:0;
    min-width:100px    
}
#menucontrainer ul li ul li {
    background-color:#666;
    position:relative;
    left:0;
    display:list-item;
    float:none;
    height:auto;
	margin:0;
    text-align:left;
}
#menucontrainer ul li ul li a {
    border-bottom:1px solid #999 !important;
    padding:6px 5px;
    border:none
}
#menucontrainer ul li ul li:hover,
#menucontrainer ul li ul li.hover {
    background-color:#444
}
#menucontrainer ul li:hover ul,
#menucontrainer ul li.hover ul{display:block}
 
/* Выпадающие пункты второго уровня */
#menucontrainer ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}
#menucontrainer ul li ul li ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    width:180px           
}
</style>


<div class="container">                    
	<div class="main" role="main">
		<section>
		    <div class="menu">
		        <div class="menu-sections">
		            <div class="block">
		                <div id="menucontrainer" class="container">
		                    <ul class="nav nav-pills nav-sections">
		                        %{ for(category in categories) { // TODO Active }%
		                        	<li>
	                                	<a data-target="#${category.uniqueName}" href="#${category.uniqueName}" rollapp-href="#${category.uniqueName}">${category.name}</a>
                                		%{if (category.categories.size() > 0) { }%
	                                		<ul>
		                            			%{ for(subcategory in category.categories) { // TODO Active }%
		                            		    	<li>
		                                            	<a href="#${subcategory.uniqueName}" rollapp-href="#${subcategory.uniqueName}">${subcategory.name}</a>
		                                        	</li>
												%{ } }%
											</ul>	                            		    	
	                                	%{ } }%
	                            	</li>
		                        %{ } }%
                    		</ul>
                		</div>
            		</div>
        		</div>
		        <div class="menu-filters" style="display: none;">
		            <select class="menu-filter-sort">
		                <option value="sort">по умолчанию</option>
		                <option value="price">по цене</option>
		                <option value="rating">по популярности</option>
		                <option value="name">по названию</option>
		            </select>
		        </div>
		        
		        %{ for(category in categories) { }%
					
			        <div>
			        	<h3 id="#${category.id}">${category.name}</h3>
			        	<hr style="margin: 6px;"/>
			        </div>			        
		        
		        	%{ if (category.categories != null && category.categories.size() > 0) { }%
		        
			        	%{ for(subcategory in category.categories) { }%
			        	
					        <div>
					        	<h4 id="#${subcategory.id}">${subcategory.name}</h4>
					        	<hr style="margin: 6px;"/>
					        </div>
		
							%{ if (subcategory.products != null && subcategory.products.size() > 0) { }%
				        
				        		<div class="menu-items" style="position: relative; height: 987px;">				        
					        
						        	%{ for(product in subcategory.products) { }%
						        		
						        		#{productViewMin product:product /}
						        
						        	%{ } }%
						      
						        </div>
				        
					        %{ } else { }%
					        	<div>В данной категории ничего нет.</div>
					        	<hr style="margin: 6px;"/>
					        %{ } }%
				        
						%{ } }%
		        	  
					%{ } else { }%
					
					
						%{ if (category.products != null && category.products.size() > 0) { }%
				        
			        		<div class="menu-items" style="position: relative; height: 987px;">				        
				        
					        	%{ for(product in category.products) { }%
					        		
						       		#{productViewMin product:product /}
					        
					        	%{ } }%
					      
					        </div>
				        
				        %{ } else { }%
				        	<div>В данной категории ничего нет.</div>
				        	<hr style="margin: 6px;"/>
				        %{ } }%
					
					
					%{ } }%
		        	
				%{ } }%
		        
    		</div>
		</section>
	</div>
</div>