#{extends 'main.html' /}
#{set title:'Заказ - Доставка суши и роллов Sushimi.kz' /}


<div class="container">                    
	<div class="main" role="main">
		<section>
		    <div class="cart extend">
		        <table class="items table">
		            <thead>
		                <tr>
		                    <th colspan="2" class="hidden-phone">
		                    </th>
		                    <th class="hidden-phone">
		                        Цена
		                    </th>
		                    <th>
		                        Количество
		                    </th>
		                    <th>
		                    </th>
		                </tr>
		            </thead>
	            	<tbody>
            		</tbody>
		            <tfoot>
		                <tr>
		                    <td colspan="3" class="hidden-phone">
		                        Минимальная сумма заказа <span class="min-amount" style="font-weight: bold;">3000</span> тенге
		                    </td>
		                    <td>
		                        
		                    </td>
		                    <td class="sum">
		                        Всего: <span class="value">210</span> тенге
		                    </td>
		                </tr>
		            </tfoot>
		        </table>
		        <table class="disabled table" style="display: none;">
		            <thead>
		                <tr>
		                    <th colspan="5">
		                        Недоступно для заказа:
		                    </th>
		                </tr>
		            </thead>
		            <tbody></tbody>
		        </table>
		
		
		        <div class="well state-1">
		            <form class="form-inline" novalidate="novalidate">
			            <fieldset>
			                
			                <select class="span2 valid" id="city" name="city">
			                %{ for(city in model.cities) { }%
			                	<option value="${city.id}" 
			                	
			                	%{ if (city.selected) { }% 
			                		selected="selected"
			                	%{ } }%
			                	
			                	>${city.name}</option>
							%{ } }%
							</select>
							
			                <div class="btn-group pull-right state-1">
			                    <a class="btn btn-success ordering state-1" data-loading-text="<i class='icon-time'></i><span> Проверка изменений заказа</span>" rollapp-href="">
			                        <i class="icon-shopping-cart icon-white"></i>
			                        <span>
			                            Заполнить адрес
			                        </span>
			                    </a>
			                </div>
			                <div class="pull-right to-state-1">
			                    <i class="icon-time"></i>
			                    Сохранение
			                </div>
			                <div class="btn-group pull-right state-2">
			                    <a class="btn fire state-2" data-loading-text="<i class='icon-time'></i> Отменяется" rollapp-href="">
			                        <i class="icon-fire"></i>
			                        Сбросить
			                    </a>
			                    <a class="btn btn-success save pull-right state-2" data-loading-text="<i class='icon-time icon-white'></i> Сохраняется" rollapp-href="">
			                        <i class="icon-ok icon-white"></i>
			                        Сохранить
			                    </a>
			                </div>
			            </fieldset>
		            </form>
		
		            <div class="order" style="display: none;">
		                <div class="scrollup">
		                    <a rollapp-href=""><i class="icon-arrow-up"></i></a>
		                </div>
		
		                <form class="form-horizontal order-client" novalidate="novalidate">
		                    <div class="control-group title">
			                    <div class="controls">
				                    <div>Получатель</div>
			                    </div>
		                    </div>
		
		                    <div class="control-group">
								<label class="control-label" for="Phone">Телефон</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on ">+7</span><input name="Phone" class="span2" data-val="true" data-val-length="<span>до 20 символов</span>" data-val-length-max="20" data-val-regex="<span>Введите 10-значный номер телефона</span>" data-val-regex-pattern="^([\(]?\d{3}[\)]?[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d)$" data-val-required="<span>Задайте 10-значный номер телефона</span>" type="text">
									</div><span class="help-inline" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
								</div>
							</div>
		                    <div class="control-group">
								<label class="control-label" for="FIO">Ф.И.О.</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on "><i class="icon-user"></i></span><input name="FIO" class="span4" data-val="true" data-val-length="<span>до 256 символов</span>" data-val-length-max="256" data-val-regex="<span>Может содержать только буквы, цифры и знаки '-', '(', ')'</span>" data-val-regex-pattern="[A-zА-яЁё\d\s-\(\)]+" data-val-required="<span>Задайте имя</span>" type="text">
									</div><span class="help-inline" data-valmsg-for="FIO" data-valmsg-replace="true"></span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="Email">E-mail</label>
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on ">
											<i class="icon-inbox">
											</i>
										</span>
										<input name="Email" class="span4" data-val="true" data-val-length="<span>до 256 символов</span>" data-val-length-max="256" data-val-regex="<span>Может содержать только буквы, цифры и знаки '-', '@'</span>" data-val-regex-pattern="([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+" type="text">
									</div>
									<span class="help-inline" data-valmsg-for="Email" data-valmsg-replace="true"></span>
								</div>
							</div>
		                    <div class="control-group">
								<label class="control-label" for="PersonCount">Количество персон</label>
								<div class="controls">
									<div class="input-prepend input-append">
										<span class="add-on btn minus"><i class="icon-minus"></i></span><input name="PersonCount" class="span1" data-val="true" data-val-length="<span>до 10 символов</span>" data-val-length-max="10" data-val-regex="<span>Положительное целое число</span>" data-val-regex-pattern="^[1-9][\d]{0,8}" data-val-required="<span>Введите количество персон</span>" type="text"><span class="add-on btn plus"><i class="icon-plus"></i></span>
									</div><span class="help-inline" data-valmsg-for="PersonCount" data-valmsg-replace="true"></span>
								</div>
							</div>
		                </form>
		                <hr>
		                <form class="form-horizontal order-delivery" novalidate="novalidate">
		                    <div class="control-group title">
			                    <div class="controls">
				                    Способ получения заказа
			                    </div>
		                    </div>
		
		                    <div class="control-group">
								<label class="control-label" for="Delivery"></label><div class="controls">
									<select name="Delivery">
										<option value="Delivery">
											Доставка курьером
										</option><option value="DeliveryInTime">
											Доставка ко времени
										</option><option value="SelfService">
											Забрать из ресторана
										</option>
									</select>
								</div>
							</div>
		                </form>

						<form class="form-horizontal order-department" style="display: none;" novalidate="novalidate">
		                    <div class="control-group">
								<label class="control-label" for="Department">Ресторан</label><div class="controls">
									<select name="Department">
										%{ for(department in model.cities[0].departments) { }%
											<option value="${department.id}">${department.name}</option>
										%{ } }%
									</select>
								</div>
							</div>
		                </form>

		                <form class="form-horizontal order-time" style="display: none;" novalidate="novalidate">
		                    <div class="control-group">
								<label class="control-label" for="TimeString">Время</label><div class="controls">
									<select name="TimeString" class="span2">
										%{ for(timeModel in model.cities[0].getTime(model.timePeriodCount)) { }%
											<option value="${timeModel.key}">${timeModel.value}</option>
										%{ } }%
									</select>
								</div>
							</div>
		                </form>
		
		
		                <form class="form-horizontal order-address" novalidate="novalidate">
		                    <div class="control-group addressbox" style="display: none;">
			                    <label class="control-label" for="Address.MetroName">Ваши адреса</label>
		                        <div class="controls">
					                <select class="span4" name="addresses"></select>
			                    </div>
		                    </div>
		                    
		                    <div class="control-group">
								<label class="control-label" for="Address.StreetName">Улица</label>
								<div class="controls">
									<div class="">
										<input name="Address.StreetName" class="span3 autotype ui-autocomplete-input" data-min="2" data-source="/dictionary/street/" data-depend="#city" data-val="true" data-val-length="<span>до 50 символов</span>" data-val-length-max="50" data-val-regex="<span>Может содержать только буквы, цифры и знаки - ( ) « » . , ! ? + : ; ` ~ @ # $ % ^ &amp; * № &quot; ' |</span>" data-val-regex-pattern="[\dA-zА-яЁё«»=/\.\,\!\?\s\(\)\+\-\:\;\`\~\@\#\$\%\^\&amp;\*\№\'\|\u0022]+" data-val-required="<span>Задайте улицу</span>" type="text" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
									</div><span class="help-inline" data-valmsg-for="Address.StreetName" data-valmsg-replace="true"></span>
								</div>
							</div>
		                        
		                    <div class="row">
		                        <div class="span4">
		                            <div class="control-group">
									<label class="control-label" for="Address.House">Дом</label>
									<div class="controls">
										<div class="">
											<input name="Address.House" class="span1" data-val="true" data-val-length="<span>до 10 символов</span>" data-val-length-max="10" data-val-regex="<span>Может содержать только буквы, цифры и знаки - ( ) « » . , ! ? + : ; ` ~ @ # $ % ^ &amp; * № &quot; ' |</span>" data-val-regex-pattern="[\dA-zА-яЁё«»=/\.\,\!\?\s\(\)\+\-\:\;\`\~\@\#\$\%\^\&amp;\*\№\'\|\u0022]+" type="text">
										</div><span class="help-inline" data-valmsg-for="Address.House" data-valmsg-replace="true"></span>
									</div>
								</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Corpus">Корпус</label>
										<div class="controls">
											<div class="">
												<input name="Address.Corpus" class="span1" data-val="true" data-val-length="<span>до 15 символов</span>" data-val-length-max="15" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.Corpus" data-valmsg-replace="true"></span>
										</div>
									</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Building">Строение</label>
										<div class="controls">
											<div class="">
												<input name="Address.Building" class="span1" data-val="true" data-val-length="<span>до 15 символов</span>" data-val-length-max="15" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.Building" data-valmsg-replace="true"></span>
										</div>
									</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Flat">Квартира</label>
										<div class="controls">
											<div class="">
												<input name="Address.Flat" class="span1" data-val="true" data-val-length="<span>до 10 символов</span>" data-val-length-max="10" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.Flat" data-valmsg-replace="true"></span>
										</div>
									</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Porch">Подъезд</label>
										<div class="controls">
											<div class="">
												<input name="Address.Porch" class="span1" data-val="true" data-val-length="<span>до 15 символов</span>" data-val-length-max="15" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.Porch" data-valmsg-replace="true"></span>
										</div>
									</div>
		                        </div>
		                        <div class="span4">
		                            <div class="control-group">
										<label class="control-label" for="Address.DoorCode">Код домофона</label>
										<div class="controls">
											<div class="">
												<input name="Address.DoorCode" class="span2" data-val="true" data-val-length="<span>до 15 символов</span>" data-val-length-max="15" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.DoorCode" data-valmsg-replace="true"></span>
										</div>
									</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Floor">Этаж</label>
										<div class="controls">
											<div class="">
												<input name="Address.Floor" class="span1" data-val="true" data-val-regex="<span>Целое число</span>" data-val-regex-pattern="^-?[\d]{0,9}" type="number">
											</div><span class="help-inline" data-valmsg-for="Address.Floor" data-valmsg-replace="true"></span>
										</div>
									</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Room">Комната</label>
										<div class="controls">
											<div class="">
												<input name="Address.Room" class="span1" data-val="true" data-val-length="<span>до 10 символов</span>" data-val-length-max="10" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.Room" data-valmsg-replace="true"></span>
										</div>
									</div>
		                            <div class="control-group">
										<label class="control-label" for="Address.Office">Офис</label>
										<div class="controls">
											<div class="">
												<input name="Address.Office" class="span2" data-val="true" data-val-length="<span>до 10 символов</span>" data-val-length-max="10" data-val-regex="<span>Может содержать только буквы и цифры</span>" data-val-regex-pattern="[A-zА-яЁё\d\s]+" type="text">
											</div><span class="help-inline" data-valmsg-for="Address.Office" data-valmsg-replace="true"></span>
										</div>
									</div>
		                        </div>
		                    </div>
		                    <div class="control-group">
								<label class="control-label" for="Remark">Комментарий</label>
								<div class="controls">
									<div class="">
										<textarea name="Remark" class="input-xlarge" data-val="true" data-val-length="<span>до 256 символов</span>" data-val-length-max="256" data-val-regex="<span>Может содержать только буквы, цифры и знаки - ( ) « » . , ! ? + : ; ` ~ @ # $ % ^ &amp; * № &quot; ' |</span>" data-val-regex-pattern="[\dA-zА-яЁё«»=/\.\,\!\?\s\(\)\+\-\:\;\`\~\@\#\$\%\^\&amp;\*\№\'\|\u0022]+" type="text"></textarea>
									</div><span class="help-inline" data-valmsg-for="Remark" data-valmsg-replace="true"></span>
								</div>
							</div>
							
							<div class="control-group">
								<p style="text-align: center">Для того чтобы мы могли к вам быстрее приехать, вы можете указать где вы находитесь</p>
								<input id="Address.Latitude" name="Address.Latitude" style="display: none;"/>
								<input id="Address.Longitude" name="Address.Longitude" style="display: none;" />
								<div id="YMapsID" class="controls"  style="width:100%;height:400px; padding: 10px;">
								</div>
							</div>
							
							<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
							<script type="text/javascript">    
								ymaps.ready(function () {        
									var map = new ymaps.Map('YMapsID', {            
										center: [51.159146, 71.429141], zoom: 13, behaviors: ['scrollZoom', 'drag']       
									});								        

									var myPlacemark = new ymaps.Placemark(
										        [ymaps.geolocation.latitude, ymaps.geolocation.longitude],
										        {
										            balloonContentHeader: 'Я тут',
										            balloonContent: 'Везите мой заказ сюда!',
										            balloonContentFooter: ymaps.geolocation.city
										        }
										    );
									
								    map.geoObjects.add(myPlacemark);
								    var coords; 
									
									map.events.add('click', function (e) {
										coords = e.get('coordPosition');
										savecoordinats();
									});

									var baseImageURL = '/public/images/';
									
								    function GeolocationButton (params) {
								        GeolocationButton.superclass.constructor.call(this, params);

								        // Расширяем опции по умолчанию теми, что передали в конструкторе.
								        this.geoLocationOptions = ymaps.util.extend({
								            // Не центрировать карту.
								            noCentering: false,
								            // Не ставить метку.
								            noPlacemark: false,
								            // Не показывать точность определения местоположения.
								            noAccuracy: false,
								            // Режим получения наиболее точных данных.
								            enableHighAccuracy: true,
								            // Максимальное время ожидания ответа (в миллисекундах).
								            timeout: 10000,
								            // Максимальное время жизни полученных данных (в миллисекундах).
								            maximumAge: 1000
								        }, params.options);
								    }

								    ymaps.util.augment(GeolocationButton, ymaps.control.Button, {
								        /**
								         * Метод будет вызван при добавлении кнопки на карту.
								         * @function
								         * @name GeolocationButton.onAddToMap
								         * @param {ymaps.Map} map Карта на которую добавляется кнопка.
								         */
								        onAddToMap: function () {
								            GeolocationButton.superclass.onAddToMap.apply(this, arguments);

								            ymaps.option.presetStorage.add('geolocation#icon', {
								                iconImageHref: 'man.png',
								                iconImageSize: [27, 26],
								                iconImageOffset: [-10, -24]
								            });

								            this.hint = new GeolocationButtonHint(this);
								            // Обрабатываем клик на кнопке.
								            this.events.add('click', this.onGeolocationButtonClick, this);
								        },
								        /**
								         * Метод будет вызван при удалении кнопки с карты.
								         * @function
								         * @name GeolocationButton.onRemoveFromMap
								         * @param {ymaps.Map} map Карта с которой удаляется кнопка.
								         */
								        onRemoveFromMap: function () {
								            this.events.remove('click', this.onGeolocationButtonClick, this);
								            this.hint = null;
								            ymaps.option.presetStorage.remove('geolocation#icon');

								            GeolocationButton.superclass.onRemoveFromMap.apply(this, arguments);
								        },
								        /**
								         * Обработчик клика на кнопке.
								         * @function
								         * @private
								         * @name GeolocationButton.onGeolocationButtonClick
								         * @param {ymaps.Event} e Объект события.
								         */
								        onGeolocationButtonClick: function (e) {
								            // Меняем иконку кнопки на прелоадер.
								            this.toggleIconImage('map_geo_loader.gif');

								            // Делаем кнопку ненажатой
								            if (this.isSelected()) {
								                this.deselect();
								            }

								            if (navigator.geolocation) {
								                // Запрашиваем текущие координаты устройства.
								                navigator.geolocation.getCurrentPosition(
								                    ymaps.util.bind(this._onGeolocationSuccess, this),
								                    ymaps.util.bind(this._onGeolocationError, this),
								                    this.geoLocationOptions
								                );
								            }
								            else {
								                this.handleGeolocationError('Ваш браузер не поддерживает GeolocationAPI.');
								            }
								        },
								        /**
								         * Обработчик успешного завершения геолокации.
								         * @function
								         * @private
								         * @name GeolocationButton._onGeolocationSuccess
								         * @param {Object} position Объект, описывающий текущее местоположение.
								         */
								        _onGeolocationSuccess: function (position) {
								            this.handleGeolocationResult(position);
								            // Меняем иконку кнопки обратно
								            this.toggleIconImage('wifi.png');
								        },
								        /**
								         * Обработчик ошибки геолокации.
								         * @function
								         * @name GeolocationButton._onGeolocationError
								         * @param {Object} error Описание причины ошибки.
								         */
								        _onGeolocationError: function (error) {
								            this.handleGeolocationError('Точное местоположение определить не удалось.');
								            // Меняем иконку кнопки обратно.
								            this.toggleIconImage('wifi.png');

								            if (console) {
								                console.warn('GeolocationError: ' + GeolocationButton.ERRORS[error.code - 1]);
								            }
								        },
								        /**
								         * Обработка ошибки геолокации.
								         * @function
								         * @name GeolocationButton.handleGeolocationError
								         * @param {Object|String} err Описание ошибки.
								         */
								        handleGeolocationError: function (err) {
								            this.hint
								                .show(err.toString())
								                .hide(2000);
								        },
								        /**
								         * Меняет иконку кнопки.
								         * @function
								         * @name GeolocationButton.toggleIconImage
								         * @param {String} image Путь до изображения.
								         */
								        toggleIconImage: function (image) {
								            this.data.set('image', baseImageURL + image);
								        },
								        /**
								         * Обработка результата геолокации.
								         * @function
								         * @name GeolocationButton.handleGeolocationResult
								         * @param {Object} position Результат геолокации.
								         */
								        handleGeolocationResult: function (position) {
								            var location = [position.coords.latitude, position.coords.longitude],
								                accuracy = position.coords.accuracy,
								                map = this.getMap(),
								                options = this.geoLocationOptions,
								                placemark = myPlacemark,
								                circle = this._circle;

								            // Смена центра карты (если нужно)
								            if (!options.noCentering) {
								                map.setCenter(location, 15);
								            }

								            // Установка метки по координатам местоположения (если нужно).
								            if (!options.noPlacemark) {
								                // Удаляем старую метку.
								                if (placemark) {
								                    map.geoObjects.remove(placemark);
								                }
								                this._placemark = placemark = new ymaps.Placemark(location,  {
										            balloonContentHeader: 'Я тут',
										            balloonContent: 'Везите мой заказ сюда!',
										            balloonContentFooter: ymaps.geolocation.city
										        }, {});
								                //this._placemark = placemark = myPlacemark;
								                map.geoObjects.add(placemark);
								                myPlacemark = placemark;

								                document.getElementById("Address.Latitude").value = position.coords.latitude;
								                document.getElementById("Address.Longitude").value = position.coords.longitude;
								                // Показываем адрес местоположения в хинте метки.
								                //this.getLocationInfo(placemark);
								            }

								             // Показываем точность определения местоположения (если нужно).
								            /* if (!options.noAccuracy) {
								                // Удаляем старую точность.
								                if (circle) {
								                    map.geoObjects.remove(circle);
								                }
								                this._circle = circle = new ymaps.Circle([location, accuracy], {}, { opacity: 0.5 });
								                map.geoObjects.add(circle);
								            } */
								        },
								        /**
								         * Получение адреса по координатам метки.
								         * @function
								         * @name GeolocationButton.getLocationInfo
								         * @param {ymaps.Placemark} point Метка для которой ищем адрес.
								         */
								        getLocationInfo: function (point) {
								            ymaps.geocode(point.geometry.getCoordinates())
								                .then(function (res) {
								                    var result = res.geoObjects.get(0);

								                    if (result) {
								                        point.properties.set('hintContent', result.properties.get('name'));
								                    }
								                });
								        }
								    });

								    /**
								     * Человекопонятное описание кодов ошибок.
								     * @static
								     */
								    GeolocationButton.ERRORS = [
								        'permission denied',
								        'position unavailable',
								        'timeout'
								    ];

								    /**
								     * Класс хинта кнопки геолокации, будем использовать для отображения ошибок.
								     * @class
								     * @name GeolocationButtonHint
								     * @param {GeolocationButton} btn Экземпляр класса кнопки.
								     */
								    function GeolocationButtonHint (btn) {
								        var map = btn.getMap(),
								        // Позиция кнопки.
								            position = btn.options.get('position');

								        this._map = map;
								        // Отодвинем от кнопки на 35px.
								        this._position = [position.left + 35, position.top];
								    }

								    /**
								     * Отображает хинт справа от кнопки.
								     * @function
								     * @name GeolocationButtonHint.show
								     * @param {String} text
								     * @returns {GeolocationButtonHint}
								     */
								    GeolocationButtonHint.prototype.show = function (text) {
								        var map = this._map,
								            globalPixels = map.converter.pageToGlobal(this._position),
								            position = map.options.get('projection').fromGlobalPixels(globalPixels, map.getZoom());

								        this._hint = map.hint.show(position, text);

								        return this;
								    };
								    /**
								     * Прячет хинт с нужной задержкой.
								     * @function
								     * @name GeolocationButtonHint.hide
								     * @param {Number} timeout Задержка в миллисекундах.
								     * @returns {GeolocationButtonHint}
								     */
								    GeolocationButtonHint.prototype.hide = function (timeout) {
								        var hint = this._hint;

								        if (hint) {
								            setTimeout(function () {
								                hint.hide();
								            }, timeout);
								        }

								        return this;
								    };

									
									var myButton = new GeolocationButton({
							            data: {
							                image: '/public/images/wifi.png',
							                title: 'Определить мое местоположение'
							            },
							            options: {
							                // Режим получения наиболее точных данных.
							                enableHighAccuracy: true
							            }
							        });

							    	map.controls.add(myButton, {top: 5, left: 5});

									function savecoordinats (){	
										var new_coords = [coords[0].toFixed(4), coords[1].toFixed(4)];	
										myPlacemark.getOverlay().getData().geometry.setCoordinates(new_coords);
										document.getElementById("Address.Latitude").value = coords[0].toFixed(4);
						                document.getElementById("Address.Longitude").value = coords[1].toFixed(4);
									}
								});
							</script>
		                </form>
		                <hr>
		                <form class="form-horizontal order-paymethod" novalidate="novalidate">
		                    <div class="row">
		                        <div class="span">
		                            <div class="control-group">
		                                <div class="controls">
				                            <label class="radio">
		                                        <input checked="checked" id="PayMethod" name="PayMethod" type="radio" value="2">
		                                        Наличные
		                                    </label>
		                                    <!-- <label class="radio">
		                                        <input id="PayMethod" name="PayMethod" type="radio" value="3">
		                                        Банковская карта (курьеру)
		                                    </label> -->
			                            </div>
		                            </div>
		                        </div>
		                        <div class="span" data-paymethod="2">
		                            <div class="control-group">
										<label class="control-label" for="Cash">С какой суммы приготовить сдачу</label><div class="controls">
											<div class="input-append">
												<input name="Cash" class="span1" data-val="true" data-val-length="<span>до 10 символов</span>" data-val-length-max="10" data-val-regex="<span>Положительное целое число</span>" data-val-regex-pattern="^[1-9][\d]{0,8}" type="text" style="text-align:right;"><span class="add-on "><span class="tenge">тнг.</span></span>
											</div><span class="help-inline" data-valmsg-for="Cash" data-valmsg-replace="true"></span>
										</div>
									</div>
		                        </div>
		                    </div>
		                    <div class="control-group">
		                        <div class="controls">
		                            <label class="checkbox">
		                                <input class="check-box" id="AllowTerms" name="AllowTerms" type="checkbox" value="true"><input name="AllowTerms" type="hidden" value="false"> Согласен с <a href="/terms/delivery/" target="window" rollapp-href="/terms/delivery/">правилами доставки</a>
		                            </label>
		                        </div>
		                    </div>
		                </form>
		                <div class="btn-toolbar">
		                    <a class="btn btn-success submit" data-loading-text="<i class='icon-time'></i> <span>Заказ отправляется</span>" rollapp-href="">
		                        <i class="icon-ok icon-white"></i>
		                        <span>Заказать</span>
		                    </a>
		                </div>
		
		            </div>
		        </div>
		    </div>
		</section>
	</div>
</div>


<!-- DELIVERY INFO -->
<div class="delivery">
    <div class="container">
        <div class="row">
            <div class="span3">
				<div class="recall">
				    <div class="panel panel-1">
				        <div class="info">
				            Телефон доставки
				            <table style="width: 100%;">
				            	<tr>
				            		<td style="text-align: right;width: 35%;">
					            		<div style="color: rgb(187, 187, 187);font-size: 15px; font-weight: bold;padding-right: 5px;">
					            			<div>(701)</div>
					            			<div>(777)</div>
					            		</div>
				            		</td>
				            		<td style="text-align: left;">
				            			<div class="phone">252-<span style="font-size:1.2em;color:#ff0000">8</span>-252</div>
				            		</td>
				            	</tr>
				            </table>
				            <table style="width: 100%;">
				            	<tr>
				            		<td style="width: 35%; text-align: right; padding-right: 5px;">
				            			<div style="color: rgb(187, 187, 187);font-size: 15px; font-weight: bold;">(7172)</div>
				            		</td>
				            		<td style="text-align: left;"><div class="phone phonemin" >48-20-90</div></td>
				            	</tr>
				            </table>
			            </div>
				    </div>
				    <div class="panel panel-2" style="display: none;">
				        <form novalidate="novalidate">
				            <div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on ">+7</span><input name="Phone" class="span100" placeholder="Телефон" data-val="true" data-val-regex="<span>Введите 10-значный номер телефона</span>" data-val-regex-pattern="^([\(]?\d{3}[\)]?[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d)$" data-val-required="<span>Задайте 10-значный номер телефона</span>" type="text">
									</div><span class="help-inline" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
								</div>
							</div>
				            <div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on "><i class="icon-user"></i></span><input name="FIO" class="span100" placeholder="Имя" data-val="true" data-val-regex="<span>Может содержать только буквы, цифры и знаки '-', '(', ')'</span>" data-val-regex-pattern="[A-zА-яЁё\d\s-\(\)]+" data-val-required="<span>Задайте имя</span>" type="text">
									</div><span class="help-inline" data-valmsg-for="FIO" data-valmsg-replace="true"></span>
								</div>
							</div>
				            <div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on "><i class="icon-time"></i></span><input name="Time" class="span100" placeholder="Время" data-val="true" data-val-regex="<span>Время в формате HH:mm</span>" data-val-regex-pattern="([0-1]\d|2[0-3])(:[0-5]\d)?" type="time">
									</div><span class="help-inline" data-valmsg-for="Time" data-valmsg-replace="true"></span>
								</div>
							</div>
				            <a class="btn submit" rollapp-href=""><i class="icon-ok icon-white"></i> <span class="text-full">Отправить</span><span class="text-short">Отпр.</span></a>
				            <a class="btn cancel pull-right" rollapp-href=""><i class="icon-arrow-up"></i></a>
				        </form>
				    </div>
				</div>
           	</div>
            <div class="span3">
                <div class="span-box">
                    <table>
					    <tbody>
					        <tr>
					            <td style="vertical-align: top; width: 46px;">
					                <img style="float: none; margin: 0px 10px 0px 0px; width: 36px; height: auto" src="/public/images/clock.png">
					            </td>
					            <td>
					                <h3 style="margin-top: -7px;">12 часов</h3>
					                <p>Мы доставляем свежие, вкусные блюда каждый день. <br/>Будни с <b>11:30</b> по <b>24:00</b>.<br/>Выходные с <b>13:00</b> по <b>24:00</b></p>
					            </td>
					        </tr>
					    </tbody>
				    </table>
               	</div>
           	</div>
            <div class="span3">
                <div class="span-box">
                    <table>
					    <tbody>
					        <tr>
					            <td style="vertical-align: top; width: 46px;">
					                <img style="float: none; margin: 0px 10px 0px 0px; width: 36px; height: auto" src="/public/images/bicycler.png">
					            </td>
					            <td>
					                <h3 style="margin-top: -7px;">Быстро</h3>
					                <p>Время доставки заказа от 40 минут. Максимальное время доставки 1,5 часа.</p>
					            </td>
				            </tr>
			            </tbody>
		           </table>
				</div>
           	</div>
            <div class="span3">
                <div class="span-box">
                    <table>
					    <tbody>
					        <tr>
					            <td style="vertical-align: top; width: 46px;">
					                <img style="float: none; margin: 0px 10px 0px 0px; width: 36px; height: auto" src="/public/images/heart.png">
					            </td>
					            <td>
					                <h3 style="margin-top: -7px;">Бесплатно</h3>
					                <p>Минимальная сумма заказа 3000 тг.</p>
				                </td>
			                </tr>
		               	</tbody>
		              </table>
               	</div>
            </div>
        </div>   
    </div>
</div>

<br/>
<br/>
<div class="delivery">
	<div class="container">
		<div class="row">
			
			<div style="padding: 30px 0px 0px 30px;">
				<p style="font-size: 20px; color: #ff0000; font-weight: bold; padding-bottom: 20px;">Условия доставки</p>
				<p style="padding-bottom: 10px;">Минимальная сумма заказа 3000 тг. + бесплатная доставка.</p>
				<p style="padding-bottom: 10px;">При заказе суши и роллов на каждые 2000 тг бесплатно прилагается: 1 порция соевого соуса, 1 порция имбиря, 1 порция васаби.</p>
				<p style="padding-bottom: 10px;">Количество ланч-боксов определяется объемом заказа.</p>
				<p style="padding-bottom: 10px;">Бесплатная доставка действует в пределах:</p>
				<p style="padding-bottom: 10px;">Алматинского (до ул. Налдаякова и Кошкарбаева), Сарыаркинского 
				(до вокзала), Есильского (до ул. Шабыт) районов.</p>
			
				<p style="padding-bottom: 10px;">Стоимость доставки в другие районы города от 700 тг. Доставка в
				отдаленные районы рассматривается по ситуации, в зависимости от
				загруженности дорог и количества заказов.</p>
			</div>		
		</div>
	</div>
</div>