#{extends 'main.html' /}
#{set title: page != null ? page.title : 'Акция - Компания «Сушими»' /}
#{set metaTitle: page != null ? page.metaTitle : '' /}
#{set metaContent: page != null ? page.metaContent : '' /}
#{set metaDescription: page != null ? page.metaDescription : '' /}
#{set metaKeywords: page != null ? page.metaKeywords : '' /}
#{set htmlFooter: page != null ? page.htmlFooter?.raw() : null /}

#{set body_class:'body-1'/}

<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="row">
		        <div class="span8 offset2">
		            <div class="next-prev">
		            	%{ if (prev) { }%
                    		<a href="${prevModel.preparedLinkToSource}" class="left" rollapp-href="${prevModel.preparedLinkToSource}">‹</a>
                    	%{ } }%
                    	%{ if (next) { }%
                    		<a href="${nextModel.preparedLinkToSource}" class="right" rollapp-href="${nextModel.preparedLinkToSource}">›</a>
                    	%{ } }%
           			</div>
		            <div class="lawn">
		                <h1>${model.title}</h1>
		                <p>
		                	%{ if (System.currentTimeMillis() < model.endDate.getTime().getTime() ) { }%
		                    <span class="color-link" style="font-weight:bold;">до окончания акции - ${daysLeftText}</span>
		                    %{ } else { }%
		                    <span class="color-link" style="font-weight:bold;">акция закончилась</span>
		                    %{ } }%
		                </p>
	                    <p>
	                    %{ if (model.imageLink != null && model.imageLink.isEmpty() == false) { }%
	                        <img class="image" alt="${model.title}" src="/public/images/announcements/${model.imageLink}">
	                    %{ } }%
	                    </p>
		                <div>
		                    ${model.content.raw()}
		                </div>
		                <div style="margin-top: 20px;">
		                    <a href="/actions/" rollapp-href="http://www.sushimi.kz/actions/"><i class="icon-star" style="margin-right: 5px;"></i>Все акции</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
	</div>
</div>