.jcarousel-skin-tango .jcarousel-container {

}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 600px;
    padding: 0;
}
.infrid .jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 780px;
    padding: 0 80px;

}

.jcarousel-skin-tango .jcarousel-container-vertical {
    width: 75px;
    height: 245px;
    padding: 40px 20px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  500px;
    height: 80px;
}
.infrid .jcarousel-skin-tango .jcarousel-clip-horizontal {
    width: 780px;
    height: 120px;
}

.jcarousel-skin-tango .jcarousel-clip-vertical {
    width:  75px;
    height: 245px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: 107px;
    height: 80px;
}
.infrid .jcarousel-skin-tango .jcarousel-item {
    width: 112px;
    height: 120px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 18px;
}
#mycarousel li{
    padding-left: 0 !important;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-vertical {
    margin-bottom: 10px;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
    position: absolute;
    top: 2px;
    right: 30px;

    cursor: pointer;
   
    
        cursor: pointer;; 
  background: url("/public/images/carusel/str_right_no_act_03.png") no-repeat center;
  width: 32px;
  height: 22px;
  display: inline-block;
  margin: 0px;
  border: 1px solid #bdbdbd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px #fff, inset 0px 1px 3px #fff;
     
    
}
.infrid .jcarousel-skin-tango .jcarousel-next-horizontal{
   right: 0px;
   top: 30px;;
   width: 60px;
   height: 60px;
   border-radius:4px; 
   background: url("/public/images/carusel/str_ingrid_right_05.gif") no-repeat center; 
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(prev-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background:#f6f6f6 url("/public/images/carusel/str_right_hover_03.png") no-repeat center;
}


.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background: #cccccc url("/public/images/carusel/arrow_right.png") no-repeat center;   
}

.infrid .jcarousel-skin-tango .jcarousel-next-horizontal:hover{

   background:#f6f6f6 url("/public/images/carusel/str_ingrid_right_05.gif") no-repeat center; 
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: url("/public/images/carusel/str_right_no_act_03.png") no-repeat center;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
    position: absolute;
   cursor: pointer;; 
   top: 2px;;
   right: 67px;
  background: url("/public/images/carusel/str_left_no_act_03.png") no-repeat center;
  width: 32px;
  height: 22px;
  display: inline-block;
  margin: 0px;
  border: 1px solid #bdbdbd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
  margin-right: -4px;
  box-shadow: 0px 1px 3px #fff, inset 0px 1px 3px #fff;
}
.infrid .jcarousel-skin-tango .jcarousel-prev-horizontal{
   left: 0px;
   top: 30px;;
   width: 60px;
   height: 60px;
   border-radius:4px;  
   border: 1px solid #bdbdbd;
   background: url("/public/images/carusel/str_ingrid_left_03.gif") no-repeat center;
}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(next-horizontal.png);
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
  background: #f6f6f6 url("/public/images/carusel/str_left_hover_03.png") no-repeat center; 
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
     background: #cccccc url("/public/images/carusel/arrow_left.png") no-repeat center;   
}
.infrid .jcarousel-skin-tango .jcarousel-prev-horizontal:hover{

   background:#f6f6f6 url("/public/images/carusel/str_ingrid_left_03.gif") no-repeat center;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: url("/public/images/carusel/str_left_no_act_03.png") no-repeat center;
}
.count_foto{
    position: absolute;
    right: 35px;
    top: 30px;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-tango .jcarousel-next-vertical {
    position: absolute;
    bottom: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(next-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-next-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical {
    position: absolute;
    top: 5px;
    left: 43px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: transparent url(prev-vertical.png) no-repeat 0 0;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus {
    background-position: 0 -32px;
}

.jcarousel-skin-tango .jcarousel-prev-vertical:active {
    background-position: 0 -64px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active {
    cursor: default;
    background-position: 0 -96px;
}
