
#articleUctShow
{
    margin: 0 auto;
    overflow: hidden;
    width: 70%;
}
/*background gradient*/
#seoUctBlock:before
{
    background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #fff));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 100%);
    content: '';
    height: 60px;
    left: 0;
    position: absolute;
    right: 0;
}
.old_h1
{
    font-size: 150%;
}
#seoUctBlock
{
    color: #5E5B5B;
    height: 60px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    width: 70%;
}
#articleDisplay
{
    margin: 0 47%;
    text-align: center;
}
