#{extends 'main.html' /}
#{set title: page != null ? page.title : 'Правила доставки - Компания «Сушими»' /}
#{set metaTitle: page != null ? page.metaTitle : '' /}
#{set metaContent: page != null ? page.metaContent : '' /}
#{set metaDescription: page != null ? page.metaDescription : '' /}
#{set metaKeywords: page != null ? page.metaKeywords : '' /}
#{set htmlFooter: page != null ? page.htmlFooter : null /}

#{set body_class:'body-4'/}

<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="row">
		        <div class="span8 offset2">
		            <div class="lawn">
		                <h1 style="margin-bottom:18px;">Правила доставки</h1>
		                <h2>Доставка еды от компании «Сушими»</h2>
						<p>Доставка еды  стала привычным делом для многих. Но что делать, если хочется чего-то действительно вкусного? Заказывать доставку еды от компании «Сушими» на дом или в офис!</p>
						<p>Компания «Сушими» не оставит голодным ни одного клиента! Разнообразное меню на любой вкус — суши, антисуши и многое другое.</p>
						<p>&nbsp;</p>
						<h3>Варианты доставки</h3>
						<p>&nbsp;<br><strong>Доставка еды курьером по Астане</strong><br>
						Курьер доставит вам заказ в течение 1,5 часов по указанному адресу.<br>
						Убедительная просьба: не отключайте указанный в заказе телефон для быстрой связи.</p>
						<p>&nbsp;<br><strong>Самовывоз</strong><br>
						При самовывозе действует скидка 10% без ограничения на минимальную сумму заказа.</p>
						<p>&nbsp;<br><strong>Круглосуточная доставка еды к определенному времени на дом или в офис</strong><br>
						Заказ будет доставлен точно в указанное вами время.<br>
						Обязательное условие: заказ должен быть сделан не менее чем за 2 часа до желаемого времени доставки. Остальные условия доставки стандартные.</p>
						<p>&nbsp;</p>
						<p>Наша компания выражает искреннюю благодарность тем, кто пользуется услугами доставки еды на дом или на место работы постоянно. Мы рады и тем, кто недавно примкнул к любителям наших вкуснейших блюд. Ждем всех, кто еще ничего не пробовал, но уже облизывается, глядя на фотографии ассортимента нашего меню на сайте.</p>
						<p>&nbsp;</p>
						<p style="color:#ff0000"><strong>Мы приглашаем любителей остренького, горяченького, самого вкусненького! Заказывайте доставку еды в офис и домой как только проголодаетесь!&nbsp;«Сушими» гарантирует — курьер прибудет очень быстро.</strong></p>
						
						<p>Подробная информация&nbsp;—&nbsp;в разделе <a href="/ship/" rollapp-href="/ship/">Доставка</a>.</p>
						<hr>
						<p><b>Внимание!</b> В виду сложной автотранспортной ситуации в Астане возможно увеличение времени доставки заказов свыше 1,5 часов. Надеемся на понимание.<br>
						Возможность доставки в иные районы и сумму минимального заказа уточняйте у оператора call-центра.</p>
		            </div>
		        </div>
		    </div>
		</section>
    </div>                    
</div>