#{extends 'main.html' /}
#{set title:'Новости - ' + model.title + ' - Компания «Сушими»' /}

#{set body_class:'body-4'/}

<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="row">
		        <div class="span8 offset2">
		            <div class="next-prev">
		                %{ if (prev) { }%
                    		<a href="${prevModel.preparedLinkToSource}" class="left" rollapp-href="${prevModel.preparedLinkToSource}">‹</a>
                    	%{ } }%
                    	%{ if (next) { }%
                    		<a href="${nextModel.preparedLinkToSource}" class="right" rollapp-href="${nextModel.preparedLinkToSource}">›</a>
                    	%{ } }%
		            </div>		
		            <div class="lawn">
		                <h1>${model.title}</h1>
		                <p class="color-gray-light"><span>${new java.text.SimpleDateFormat("dd.MM.yyyy HH:mm").format(model.publishDate.time)}</span></p>
	                    <p>
	                    	<img class="image" alt="${model.title}" src="/public/images/announcements/${model.imageLink}">
	                    </p>
		                <div>
		                   ${model.content.raw()} 
		                </div>
		                <div style="margin-top: 20px;">
		                    <a href="/news/" rollapp-href="http://www.sushimi.kz/news/"><i class="icon-list" style="margin-right: 5px;"></i>Все новости</a>
		                </div>
		            </div>
		        </div>
		    </div>
		</section>
	</div>
</div>