#{extends 'main.html' /}
#{set title:'Доставка суши Астана, доставка суши в Астане, доставка суши Астана, доставка суши на дом Астана, доставка еды Астана, роллы на дом Астана, Астана роллы на дом, Астана суши на дом, Астана суши, суши роллы доставка Астана, бесплатная доставка суши Астана, Казахстан' /}

<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="ship">
		        <div class="center" style="margin: 40px 0 60px;">
		            <h1 class="m-bottom-25 title-1">Не&nbsp;хочется выбираться из&nbsp;дома, или неожиданно нагрянули гости?</h1>
		            <p class="m-bottom-25 title-2">
		                Достаточно просто выбрать заинтересовавшие вас блюда из&nbsp;меню, которое предложено на&nbsp;сайте и&nbsp;сделать заказ. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
		            <a class="btn btn-large btn-success title-btn" href="../menu/" rollapp-href="http://www.yaposha.com/menu/">СДЕЛАЙ ЭТО&nbsp;— ЗАКАЖИ</a>
		        </div>		
		        <h2 class=" center">
		            Телефоны доставки
		        </h2>
		        
		        <div class="phone" style="width: 300px; text-align: center; margin: 0 auto;">
			        <table style="width: 100%;text-shadow: none;">
		            	<tr>
		            		<td style="text-align: right;">
			            		<div style="color: rgb(187, 187, 187);font-size: 15px; font-weight: bold;padding-right: 5px;">
			            			<div>(701)</div>
			            			<div>(777)</div>
			            		</div>
		            		</td>
		            		<td style="text-align: left;">
		            			<div class="phone">252-<span style="font-size:1.2em;color:#ff0000">8</span>-252</div>
		            		</td>
		            	</tr>
		            </table>
		            <table style="width: 100%;text-shadow: none;">
		            	<tr>
		            		<td style=" text-align: right; padding-right: 5px;">
		            			<div style="color: rgb(187, 187, 187);font-size: 15px; font-weight: bold;">(7172)</div>
		            		</td>
		            		<td style="text-align: left;"><div class="phone phonemin" >48-20-90</div></td>
		            	</tr>
		            </table>
		        </div>
				<hr>
		        <div class="row">
		            <div class="span4">
		                <table class="m-bottom-25">
		                    <tbody><tr>
		                        <td class="image">
		                            <img src="/public/images/refridgerator.png">                    
		                        </td>
		                        <td>
		                            <h3>Только свежая еда</h3>
		                            <p>Мы&nbsp;никогда не&nbsp;готовим заранее. Поэтому наши блюда самые свежие.</p>
		                        </td>
		                    </tr>
		                </tbody></table>
		            </div>
		            <div class="span4">
		                <table class="m-bottom-25">
		                    <tbody><tr>
		                        <td class="image">
		                            <img src="/public/images/bicycler.png">                    
		                        </td>
		                        <td>
		                            <h3>Быстрая доставка</h3>
		                            <p>Время доставки заказа от 40 минут. Максимальное время доставки 1,5 часа.</p>
		                        </td>
		                    </tr>
		                </tbody></table>
		            </div>
		            <div class="span4">
		                <table class="m-bottom-25">
		                    <tbody><tr>
		                        <td class="image">
		                            <img src="/public/images/clock.png">                    
		                        </td>
		                        <td>
		                            <h3>12 часов в сутки</h3>
		                            <p>Мы доставляем свежие, вкусные блюда каждый день. <br/>Будни с <b>11:30</b> по <b>24:00</b>.<br/>Выходные с <b>13:00</b> по <b>24:00</b></p>
		                        </td>
		                    </tr>
		                </tbody></table>
		            </div>
		        </div>
		        <div class="row">
		            <div class="span4">
		                <table class="m-bottom-25">
		                    <tbody><tr>
		                        <td class="image">
		                            <img src="/public/images/coins.png">                    
		                        </td>
		                        <td>
		                            <h3>Минимальная сумма заказа</h3>
		                            <p>Минимальная сумма заказа от 2 500 тг. </p>
		                        </td>
		                    </tr>
		                </tbody></table>
		            </div>
		            <div class="span4">
		                <table class="m-bottom-25">
		                    <tbody><tr>
		                        <td class="image">
		                            <img src="/public/images/circle.png">                    
		                        </td>
		                        <td>
		                            <h3>Бесплатная доставка</h3>
		                            <p>Бесплатная доставка осуществляется в пределах Астаны</p>
		                        </td>
		                    </tr>
		                </tbody></table>
		            </div>
		        </div>
		        <div class="row">
		            <div class="span4">
		                <table class="m-bottom-25">
		                </table>
		            </div>
		            <div class="span4">
		                <table class="m-bottom-25">
		                </table>
		            </div>
		        </div>
		        <hr>
		        <p class="m-bottom-25">
		            Возможность доставки в&nbsp;иные районы и&nbsp;сумму минимального заказа уточняйте
		            у&nbsp;оператора call-центра.
		        </p>
		        <div class="m-bottom-25">
		            <h1>Доставка еды компании «Сушими»</h1>
					<p><strong>Доставка еды</strong> стала привычным делом для многих. Но что делать, если хочется чего-то действительно вкусного? Заказывать доставку еды компании «Сушими» на дом или в офис!</p>
					<p>Компания «Сушими» не оставит голодным ни одного клиента! Разнообразное меню на любой вкус — суши, антисуши и многое другое.</p>
		        </div>
		        <h2 class="m-bottom-15">
		            Варианты доставки
		        </h2>
		        <div class="row m-bottom-25">
		            <div class="span4">
		                <h3>Доставка еды курьером по Астане</h3>
		                <p>Курьер доставит вам заказ в&nbsp;течение 1,5 часов по&nbsp;указанному адресу.</p>
		                <p>Убедительная просьба: не&nbsp;отключайте указанный в&nbsp;заказе телефон для быстрой связи.</p>
		            </div>
		            <div class="span4">
		                <h3>Забрать из&nbsp;ресторана</h3>
		                <p>Вы&nbsp;можете выбрать самовывоз из удобного для Вас места</a>.</p>
		                <p>При самовывозе действует скидка&nbsp;10 % без ограничения на&nbsp;минимальную сумму заказа.</p>
		            </div>
		            <div class="span4">
		                <h3>Доставка еды к определенному времени на дом или в офис</h3>
		                <p>Заказ будет доставлен точно в&nbsp;указанное вами время.</p>
		                <p>Обязательное условие: заказ должен быть сделан не&nbsp;менее чем за&nbsp;2&nbsp;часа до&nbsp;желаемого времени доставки. Остальные условия доставки стандартные.</p>
		            </div>
		        </div>
		        <div class="m-bottom-25">
		            <p>Наша компания выражает искреннюю благодарность тем, кто пользуется услугами доставки еды на дом или на место работы постоянно. Мы рады и тем, кто недавно примкнул к любителям наших вкуснейших блюд. Ждем всех, кто еще ничего не пробовал, но уже облизывается, глядя на фотографии ассортимента нашего меню на сайте. </p>
					<p>Мы приглашаем любителей остренького, горяченького, самого вкусненького! Заказывайте доставку еды в офис и домой как только проголодаетесь! «Сушими» гарантирует — курьер прибудет очень быстро. </p>
		        </div>
        		<hr>
        		<p>Внимание! В&nbsp;виду сложной автотранспортной ситуации в&nbsp;Астане возможно увеличение времени доставки заказов свыше 1,5&nbsp;часов. Надеемся на&nbsp;понимание.<br></p>
    		</div>
		</section>
	</div>
</div>