#{extends 'main.html' /}
#{set title: page != null ? page.title : 'О нас - Компания «Сушими»' /}
#{set metaTitle: page != null ? page.metaTitle : '' /}
#{set metaContent: page != null ? page.metaContent : '' /}
#{set metaDescription: page != null ? page.metaDescription : '' /}
#{set metaKeywords: page != null ? page.metaKeywords : '' /}
#{set htmlFooter: page != null ? page.htmlFooter : null /}

#{set body_class:'body-5'/}

<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="row">
		        <div class="span8 offset2">
		            <div class="lawn">
		                <h1 style="margin-bottom:18px;">О Сушими</h1>
		                <ul class="nav nav-tabs">
	                        <li class="active">
	                            <a rollapp-href="">О нас</a>
	                        </li>
	                        <li>
	                            <a href="/about/contacts/" rollapp-href="http://www.yaposha.com/about/contacts/">Контакты</a>
	                        </li>
	                        <li>
	                            <a href="/about/vacancy/" rollapp-href="http://www.yaposha.com/about/vacancy/">Вакансии</a>
	                        </li>
		                </ul>
							
						<p>Сушими — компания с яркой, жизнеутверждающей концепцией и брендом. Особенность «Сушими» — оригинальное, двойное меню — суши и антисуши. В первой половине меню можно выбрать популярные блюда адаптированной японской кухни, во&nbsp;второй&nbsp;— блюда европейской, русской и&nbsp;других кухонь разных стран мира. Смесь всех кулинарных хитов позволяет удовлетворять гастрономические пристрастия самых разных гостей. </p>
						<p>Все блюда готовятся из высококачественных продуктов, поставляемые проверенными и надежными поставщиками.</p>
						<p>Мы ждем вас каждый день, в Сушими всегда кипит жизнь, здесь весело, интересно и вкусно.</p>
						<h3>Миссия компании</h3>
						<p>Сушими – продукция на каждый день и на любой случай, идеальна для тех, кто предпочитает eat out, предлагает лучшие в городе суши и анти-суши с качеством выше, чем цена.</p>
						<h3><span style="color: inherit; font-family: inherit;">Концепция Сушими</span><br></h3>
						<p>Демократичность в&nbsp;Сушими ощущается во&nbsp;всём: во внутреннем убранстве, ценовой политике, сервисе.<br><br></p>
						<p class="MsoNormal">«Сушими», 010000, г. Астана, ул. Абая, дом 8</p>
		            </div>
		        </div>
		    </div>
		</section>
	</div>
</div>