 .orderinfo {
margin-bottom: 10px;
  margin-left: 10px;
  width: 300px;
  padding: 8px;
  border: 8px ridge #c7c7c7;
  display: block;
  height: 400px;
  position: relative;
  float: left;
 }
 
.grey {
	  background-color: grey;
}

.green {
	  background-color: green;
}

.red {
	  background-color: red;
}

.yellow {
	  background-color: yellow;
}

/*окно оповещения о закрытых заказах*/
.kitchenCanceledOrderToast {
	color: red;
}

/*Окно оповещения о новом заказе*/
.kitchenNewOrderToast {
	color: green;
}

/*таймер заказа*/
.kitchenTimer {
	position: absolute;
	top: 10px;
	right: 10px;
}

/*Взять заказ кнопка*/
.kitchenTakeOrderBtn {
	position: absolute; 
	bottom: 10px; 
	left: 80px;
	width: 130px;
	height: 40px;
}

/*Завершить заказ кнопка*/
.kitchenCompleteOrderBtn {
	position: absolute; 
	bottom: 10px; 
	left: 10px;
	width: 130px;
	height: 40px;

}

/*Печать заказа из кухни кнопка*/
.kitchenPrintOrderBtn {
	position: absolute; 
	bottom: 10px; 
	right: 10px;
	width: 130px;
	height: 40px;

}

/*Окошко с информацией о доставке заказов, до которых еще более 2-ух часов*/
.kitchenOrdersTwoHours {
	color: red;
}

/*Типом заказа: Доставка ко времени*/
.kitchenDeliveryInTime {
	color: yellow;
}

/*Тип заказа: Доставка*/
.kitchenDelivery {
	color: red;
}

/*Тип заказа: Самовывоз*/
.kitchenSelfService {
	color: black;
}