#{extends 'main.html' /}

#{set title: page != null ? product.name + ' ' +  page.title : product.name + ' Астана суши, Астана суши на дом, доставка суши Астана, доставка суши на дом Астана, доставка еды Астана, доставка суши Астана, доставка суши в Астане, Казахстан' /}
#{set metaTitle: page != null ? product.name + ' ' + page.metaTitle : product.name /}
#{set metaContent: page != null ? product.name + ' ' +  page.metaContent : product.name /}
#{set metaDescription: page != null ? product.name + ' ' +  page.metaDescription : product.name /}
#{set metaKeywords: page != null ? product.name + ' ' +  page.metaKeywords : product.name /}
#{set htmlFooter: page != null ? page.htmlFooter?.raw() : null /}

#{set detail: 'true' /}

<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="row">
		        <div class="span5 menu-single" data-id="${product.id}">
		        	
		            <h1>${product.name}</h1>
	                <div class="badges">
	                	<div class="ostroe" title="Артикул товара, для заказа по телефону" style="background-color: #9cf">${product.code}</div>
						%{ if (product.isHit()) { }%
						<div class="hit">Лучшее</div>
						%{ } }%
						
						<!-- <div class="handmade">Ручная работа</div> -->
						
						%{ if (product.isHot()) { }%
							<div class="ostroe">Острое</div>
						%{ } }%
						
						%{ if (product.isVegetable()) { }%
							<div class="veg">Вегетарианское</div>
						%{ } }%
						
						<!-- <div class="recept">Новый рецепт</div> -->
						
						%{ if (product.isNew()) { }%
							<div class="newprice">Новинка</div>
						%{ } }%
	                </div>
		            <p><img class="image"  title="${product.name} Астана - доставка суши в Астане" alt="${product.name} Астана - доставка суши в Астане" src="/public/images/menu/items/${product.imageLink}"></p>
		            <p>${product.description}</p>
					<p>
	                    <span class="price"><span>${product.cost}</span> тг.</span>
	                    <span class="info">${product.weight}  ${product.calories}</span>
	                </p>
	                <div class="btn-toolbar">
	                    <div class="numeric input-prepend input-append btn-group" data-min="1"></div>
	                    <div class="btn-group">
	                        <a class="cart-add btn btn-danger" data-id="${product.id}" data-price="${product.cost}" data-name="${product.name}" rollapp-href="">
	                            <i class="icon-shopping-cart icon-white"></i>
	                        </a>
	                    </div>
	                </div>
		        </div>
		    </div>
		</section>
	</div>
</div>
