#{extends 'main.html' /}
#{set title: page != null ? page.title : 'Меню - Компания «Сушими»' /}
#{set metaTitle: page != null ? page.metaTitle : '' /}
#{set metaContent: page != null ? page.metaContent : '' /}
#{set metaDescription: page != null ? page.metaDescription : '' /}
#{set metaKeywords: page != null ? page.metaKeywords : '' /}
#{set htmlFooter: page != null ? page.htmlFooter?.raw() : null /}

#{set menu_nav: 'true' /}

<script type="text/javascript">
	function hideLoader() { $(".menu-items").css("opacity", 1); }
	setTimeout(hideLoader, 200);
</script>
<div class="container">                    
	<div class="main">
		<section>
			<div  id="menu_id_loading" class="menu">
				<div class="menu-sections">
		            <div class="block">
		                <div class="container">
		                	<ul class="nav nav-pills nav-sections">
								%{ for(int i = 0; i < categories.size(); i++) {   }%
		                        %{ if (categories[i].isSelected) { }%
		                        	<li class="active">
		                        %{ } else { }%
		                        	<li>
		                        %{ } }%	
                                	<a data-target="#${categories[i].uniqueName}" href="/menu/${categories[i].uniqueName}">${categories[i].name}</a>
	                            </li>
		                        %{ } }%
                    		</ul>
                    		<div class="tab-content">
	                            %{ for(int z = 0; z < categories.size; z++) {   }%
	                            	%{ if (categories[z].isSelected) { }%
		                        		<div id="${categories[z].uniqueName}" class="tab-pane active">
		                        	%{ } else { }%
		                        		<div id="${categories[z].uniqueName}" class="tab-pane">
		                        	%{ } }%
									<ul class="nav nav-pills">
									%{
										List<Category> subCategories = kz.sushimi.service.ProductService.getChildCategories(categories[z]); 
									}%
		                        	%{ for(int y = 0; y < subCategories.size(); y++) {   }%
		                        		%{ if (subCategories[y].isSelected) { }%
		                        		<li class="active">
		                        			%{ if (categories[z].isSelected) { }%
		                        				<a id="${subCategories[y].uniqueName}Btn" class="active" href="#${subCategories[y].uniqueName}">${subCategories[y].name}</a>
		                        			%{ } else { }%
		                        				<a class="active" href="/menu/${categories[z].uniqueName}/${subCategories[y].uniqueName}#${subCategories[y].uniqueName}">${subCategories[y].name}</a>
		                        			%{ } }%
		                        		%{ } else { }%
		                        		<li>
		                        			%{ if (categories[z].isSelected) { }%
		                        				<a id="${subCategories[y].uniqueName}Btn" href="#${subCategories[y].uniqueName}">${subCategories[y].name}</a>
		                        			%{ } else { }%
		                        				<a href="/menu/${categories[z].uniqueName}/${subCategories[y].uniqueName}#${subCategories[y].uniqueName}">${subCategories[y].name}</a>
		                        			%{ } }%	
		                        		%{ } }%
		                                 </li>
				                    %{ } }%	
				                    </ul>
			                    </div>
		                        %{ } }%
                			</div>
		                </div>
	                </div>
                </div>
                
                %{ for(category in categories) { }%
		        	%{ 
		        		if (!category.isSelected)
		        			continue;
		        		List<Category> subCategories = kz.sushimi.service.ProductService.getChildCategories(category);
		        	 }%
		        	 %{ if (subCategories != null && subCategories.size()  < 2) { }%
		        		<div class="menu-filters">
				            <select class="menu-filter-sort">
				                <option value="sort">по умолчанию</option>
				                <option value="price">по цене</option>
				                <option value="rating">по популярности</option>
				                <option value="name">по названию</option>
				            </select>
				        </div>
		        	%{ } }%
        		%{ } }%
		        %{ for(category in categories) { }%
		        	%{ 
		        		if (!category.isSelected)
		        			continue;
		        		List<Category> subCategories = kz.sushimi.service.ProductService.getChildCategories(category);
		        	 }%
		        	%{ if (subCategories != null && subCategories.size() > 0) { }%
			        	%{ for(subcategory in subCategories) { }%
			        		%{ if (subcategory.isAvailable()) { }%
						        <div>
						        	<div id="${subcategory.uniqueName}" style="top: -100px; position: relative;"></div>
						        	<div style="color: #66CC66; font-size: 18px; margin: 15px 0px;">${subcategory.name}</div>
					        	</div>
					        	%{ List<kz.sushimi.persistence.dictionaries.Product> products = kz.sushimi.service.ProductService.getProductByCategory(subcategory); }%
								%{ if (products != null && products.size() > 0) { }%
					        		<div class="menu-items" style="opacity:0;position: relative;">
							        	%{ for(product in products) { }%
							        		%{ if (product.isAvailable()) { }%
							        			#{productViewMin product:product /}
											%{ } }%
							        	%{ } }%
							        </div>
						        %{ } }%
							%{ } }%
						%{ } }%
					%{ } else { }%
						%{ List<kz.sushimi.persistence.dictionaries.Product> products = kz.sushimi.service.ProductService.getProductByCategory(category); }%
						%{ if (products != null && products.size() > 0) { }%
			        		<div class="menu-items" style="opacity:0; position: relative;">
					        	%{ for(product in products) { }%
						       		%{ if (product.isAvailable()) { }%
					        			#{productViewMin product:product /}
									%{ } }%
					        	%{ } }%
					        </div>
				        %{ } }%
					%{ } }%
				%{ } }%
    		</div>
		</section>
	</div>
</div> 
<script type="text/javascript" src="/public/javascripts/scrolld.min.js"></script>
<script type="text/javascript">$("[id*='Btn']").stop(true).on('click', function (e) {e.preventDefault();$(this).scrolld();})</script>