#{extends 'main.html' /}
#{set title: page != null ? page.title : 'Пожелания и Впечатления - Сушими' /}
#{set metaTitle: page != null ? page.metaTitle : '' /}
#{set metaContent: page != null ? page.metaContent : '' /}
#{set metaDescription: page != null ? page.metaDescription : '' /}
#{set metaKeywords: page != null ? page.metaKeywords : '' /}
#{set htmlFooter: page != null ? page.htmlFooter?.raw() : null /}

<div class="container">
	<div class="main" role="main">
		<section>
			<div class="feedback-single">
		        <div class="title">
		            <h1>Пожелания и Впечатления</h1><p>Уважаемые Гости, у вас всегда есть возможность оставить свое пожелание или впечатление от посещения наших ресторанов и от нашей компании в целом. Мы будем искренне признательны Вам за все ваши замечания и предложения. Мы обязательно прислушаемся к каждому и не оставим без внимания ни одно сообщение.</p><p>Спасибо что вы с нами!</p>
		        </div>
		        <div class="send">
		            <a href="#feedback" role="button" class="btn btn-large btn-success title-btn" data-toggle="modal">ОТПРАВИТЬ ПОЖЕЛАНИЕ</a>
		        </div>
		        %{ if (feedbackModel != null) { }%
		        <div class="text">
		            ${feedbackModel.Text}
		        </div>
		        <div class="name">${feedbackModel.Fio}<span class="phone">${feedbackModel.Phone}</span>
		        </div>
		        %{ } }%
		        <div class="back">
		            <a class="btn" href="/feedback/"><i class="icon-arrow-left"></i>Все пожелания</a>
		        </div>
		    </div>
		</section>
		<div id="feedback" class="modal hide fade feedback-send">
		    <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h3>Оставьте ваш отзыв</h3>
		    </div>
		    <div class="modal-body">
		        <form class="form-horizontal">
		            <div class="control-group">
						<label class="control-label" for="FIO">Представьтесь</label><div class="controls">
							<div class="">
								<input name="FIO" data-val="true" data-val-regex="&lt;span>Может содержать только буквы, цифры и знаки &#39;-&#39;, &#39;(&#39;, &#39;)&#39;&lt;/span>" data-val-regex-pattern="[A-zА-яЁё\d\s-\(\)]+" data-val-required="&lt;span>Задайте имя&lt;/span>" type="text" />
							</div><span class="help-inline" data-valmsg-for="FIO" data-valmsg-replace="true"></span>
						</div>
					</div>
		            <div class="control-group">
						<label class="control-label" for="Phone">Мобильный телефон</label><div class="controls">
							<div class="">
								<input name="Phone" data-val="true" data-val-regex="&lt;span>Введите 10-значный номер телефона&lt;/span>" data-val-regex-pattern="^([\(]?\d{3}[\)]?[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d)$" data-val-required="&lt;span>Задайте 10-значный номер телефона&lt;/span>" type="text" />
							</div><span class="help-inline" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
						</div>
					</div>
		            <div class="control-group">
						<label class="control-label" for="ThemeId">Тема</label><div class="controls">
							<select name="ThemeId">
								<option value="FEEDBACK">Отзыв/пожелание</option>
								<option value="DELIVERY">Доставка</option>
								<option value="RESTAURANT">Ресторан</option>
								<option value="WEB">Сайт</option>
								<option value="MOBILE">Мобильное приложение</option>
							</select>
						</div>
					</div>
		            <div class="control-group" style="display:none;">
						<label class="control-label" for="CityId">Город</label><div class="controls">
							<select name="CityId">
					
							</select>
						</div>
					</div>
		            <div data-tab="place" style="display:none;">
		                <div class="control-group">
						<label class="control-label" for="PlaceId">Место</label><div class="controls">
							<select name="PlaceId">
					
							</select>
						</div>
					</div>
		            </div>
		            <div data-tab="number" style="display:none;">
		                <div class="control-group">
						<label class="control-label" for="OrderNumber">Номер заказа</label><div class="controls">
							<div class="">
								<input name="OrderNumber" data-val="true" data-val-length="&lt;span>до 20 символов&lt;/span>" data-val-length-max="20" data-val-regex="&lt;span>Положительное целое число&lt;/span>" data-val-regex-pattern="^[1-9][\d]{0,8}" type="text" />
							</div><span class="help-inline" data-valmsg-for="OrderNumber" data-valmsg-replace="true"></span>
						</div>
					</div>
		            </div>
		            <div class="control-group">
						<label class="control-label" for="Text">Текст</label><div class="controls">
							<div class="">
								<textarea name="Text" data-val="true" data-val-length="&lt;span>до 512 символов&lt;/span>" data-val-length-max="512" data-val-regex="&lt;span>Может содержать только буквы, цифры и знаки - ( ) « » . , ! ? + : ; ` ~ @ # $ % ^ &amp; * № &quot; &#39; |&lt;/span>" data-val-regex-pattern="[\dA-zА-яЁё«»=/\.\,\!\?\s\(\)\+\-\:\;\`\~\@\#\$\%\^\&amp;\*\№\&#39;\|\u0022]+" data-val-required="&lt;span>Напишите отзыв&lt;/span>" type="text"></textarea>
							</div><span class="help-inline" data-valmsg-for="Text" data-valmsg-replace="true"></span>
						</div>
					</div>
		        </form>
		    </div>
		    <div class="modal-footer">
		        <a href="#close" data-dismiss="modal" class="btn">Отмена</a>
		        <a href="#" class="btn btn-success send">Отправить</a>
		    </div>
		</div>
	</div>
</div>