#{extends 'main.html' /}
#{set title: page != null ? page.title : 'Доставка суши Астана, доставка суши в Астане, доставка суши Астана, доставка суши на дом Астана, доставка еды Астана, роллы на дом Астана, Астана роллы на дом, Астана суши на дом, Астана суши, суши роллы доставка Астана, бесплатная доставка суши Астана, Казахстан' /}
#{set metaTitle: page != null ? page.metaTitle : '' /}
#{set metaContent: page != null ? page.metaContent : '' /}
#{set metaDescription: page != null ? page.metaDescription : '' /}
#{set metaKeywords: page != null ? page.metaKeywords : '' /}
#{set htmlFooter: page != null ? page.htmlFooter?.raw() : null /}

<!-- SLIDER -->
<div class="j-slider wide">
	<div class="back j-1" style="background-image: url(/public/images/announcements/slide.jpg); opacity: 0;"></div>
	%{ for(int i = 0 ; i < model.slides.size; i++) {  }%
	<div class="back j-${i+2}" style="background-image: url(/public/images/announcements/${model.slides[i].imageLinkForSlide}); opacity: 0;">
		<a href="${model.slides[i].preparedLinkToSource}" class="fore" data-move="down" style="opacity: 0; left: 0px; top: 0px; width: 1920px; height: 500px; margin: 200px 0px -200px;" rollapp-href="${model.slides[i].preparedLinkToSource}"></a>
	</div>
	%{ } }%
	<div class="left">‹</div>
    <div class="right">›</div>
    <ul class="navigation">
    	<li class=""><a data-target="1" rollapp-href=""></a></li>
	%{ for(int i = 0 ; i < model.slides.size; i++) {  }%
		<li class=""><a data-target="${i+2}" rollapp-href=""></a></li>
	%{ } }%
	 </ul>
</div>

<!-- DELIVERY INFO -->
<div class="delivery">
    <div class="container">
        <div class="row">
            <div class="span3">
				<div class="recall">
				    <div class="panel panel-1">
				        <div class="info">
				            Телефон доставки
				            <table style="width: 100%;">
				            	<tr>
				            		<td style="text-align: right;width: 35%;">
					            		<div style="color: rgb(187, 187, 187);font-size: 15px; font-weight: bold;padding-right: 5px;">
					            			<div>(701)</div>
					            			<div>(777)</div>
					            		</div>
				            		</td>
				            		<td style="text-align: left;">
				            			<div class="phone">252-<span style="font-size:1.2em;color:#ff0000">8</span>-252</div>
				            		</td>
				            	</tr>
				            </table>
				            <table style="width: 100%;">
				            	<tr>
				            		<td style="width: 35%; text-align: right; padding-right: 5px;">
				            		<div style="color: rgb(187, 187, 187);font-size: 15px; font-weight: bold;">(7172)</div>
				            		</td>
				            		<td style="text-align: left;"><div class="phone phonemin" >48-20-90</div></td>
				            	</tr>
				            </table>
			            </div>
				    </div>
				    <div class="panel panel-2" style="display: none;">
				        <form novalidate="novalidate">
				            <div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on ">+7</span><input name="Phone" class="span100" placeholder="Телефон" data-val="true" data-val-regex="<span>Введите 10-значный номер телефона</span>" data-val-regex-pattern="^([\(]?\d{3}[\)]?[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d[\- ]?\d)$" data-val-required="<span>Задайте 10-значный номер телефона</span>" type="text">
									</div><span class="help-inline" data-valmsg-for="Phone" data-valmsg-replace="true"></span>
								</div>
							</div>
				            <div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on "><i class="icon-user"></i></span><input name="FIO" class="span100" placeholder="Имя" data-val="true" data-val-regex="<span>Может содержать только буквы, цифры и знаки '-', '(', ')'</span>" data-val-regex-pattern="[A-zА-яЁё\d\s-\(\)]+" data-val-required="<span>Задайте имя</span>" type="text">
									</div><span class="help-inline" data-valmsg-for="FIO" data-valmsg-replace="true"></span>
								</div>
							</div>
				            <div class="control-group">
								<div class="controls">
									<div class="input-prepend">
										<span class="add-on "><i class="icon-time"></i></span><input name="Time" class="span100" placeholder="Время" data-val="true" data-val-regex="<span>Время в формате HH:mm</span>" data-val-regex-pattern="([0-1]\d|2[0-3])(:[0-5]\d)?" type="time">
									</div><span class="help-inline" data-valmsg-for="Time" data-valmsg-replace="true"></span>
								</div>
							</div>
				            <a class="btn submit" rollapp-href=""><i class="icon-ok icon-white"></i> <span class="text-full">Отправить</span><span class="text-short">Отпр.</span></a>
				            <a class="btn cancel pull-right" rollapp-href=""><i class="icon-arrow-up"></i></a>
				        </form>
				    </div>
				</div>
           	</div>
            <div class="span3">
                <div class="span-box">
                    <table>
					    <tbody>
					        <tr>
					            <td style="vertical-align: top; width: 46px;">
					                <img style="float: none; margin: 0px 10px 0px 0px; width: 36px; height: auto" src="/public/images/clock.png">
					            </td>
					            <td>
					                <h3 style="margin-top: -7px;">12&nbsp;часов</h3>
					                <p>Мы доставляем свежие, вкусные блюда каждый день. <br/>Будни с <b>11:30</b> по <b>24:00</b>.<br/>Выходные с <b>13:00</b> по <b>24:00</b></p>
					            </td>
					        </tr>
					    </tbody>
				    </table>
               	</div>
           	</div>
            <div class="span3">
                <div class="span-box">
                    <table>
					    <tbody>
					        <tr>
					            <td style="vertical-align: top; width: 46px;">
					                <img style="float: none; margin: 0px 10px 0px 0px; width: 36px; height: auto" src="/public/images/bicycler.png">
					            </td>
					            <td>
					                <h3 style="margin-top: -7px;">Быстро</h3>
					                <p>Время доставки заказа от 40 минут. Максимальное время доставки 1,5 часа.</p>
					            </td>
				            </tr>
			            </tbody>
		           </table>
				</div>
           	</div>
            <div class="span3">
                <div class="span-box">
                    <table>
					    <tbody>
					        <tr>
					            <td style="vertical-align: top; width: 46px;">
					                <img style="float: none; margin: 0px 10px 0px 0px; width: 36px; height: auto" src="/public/images/heart.png">
					            </td>
					            <td>
					                <h3 style="margin-top: -7px;">Бесплатно</h3>
					                <p>Минимальная сумма заказа 3000 тг.</p>
				                </td>
			                </tr>
		               	</tbody>
		              </table>
               	</div>
            </div>
        </div>   
    </div>
</div>
   
   
   <!-- RECOMENDED PRODUCTS AND INFO -->
<div class="container">
	<div class="main" role="main">
		<section>
		    <div class="menu">
		        <div class="menu-special">
		            <ul class="nav nav-pills">
		                <li class="active">
		                    <a data-target=".recommend" rollapp-href="">Рекомендуем</a>
		                </li>
	                    <!-- <li>
	                        <a data-target=".popular" rollapp-href="">Популярные блюда</a>
	                    </li> -->
	                    <li>
	                        <a class="btn" href="/menu/" rollapp-href="/menu/">Перейти в меню</a>
	                    </li>
		            </ul>
		        </div>
		       <div class="menu-filters row" data-filters=".popular" style="display:none;">
		           <div class="span">
		               <div class="input-prepend">
		                   <span class="add-on">Пол:</span><select class="input-small menu-filter-gender">
		                       <option value="">Любой</option>
		                       <option value="m">Мужской</option>
		                       <option value="f">Женский</option>
		                   </select>
		               </div>
		           </div>
		           <div class="span">
		               <div class="input-prepend">
		                   <span class="add-on">Возраст:</span><select class="input-medium menu-filter-age">
		                       <option value="">Любой</option>
		                       <option value="13">до 13</option>
		                       <option value="1317">от 13 до 17</option>
		                       <option value="1820">от 18 до 20</option>
		                       <option value="21">больше 21</option>
		                   </select>
		               </div>
		           </div>
       			</div>
	        	<div class="menu-items" style="position: relative;">
	               %{ for(product in model.products) {  }%
	               
               			#{productViewMin product:product /}
               			
	               %{ } }%
    			</div>
   			</div>
		</section>
	    <section class="hidden-phone">
	        <div style="margin-bottom:20px;"></div>
	        <div class="row">
	            <div class="span4">
	                <h1 style="font-size: 18px; line-height: 27px;">Доставка суши</h1>
						<p>Доставка суши и роллов по Астане от комании «Сушими» осуществляется быстро в любое время суток.<br></p><p>В «Сушими» можно заказать на дом не только традиционные блюда японской кухни: суши и роллы, но и европейские — из раздела меню «Антисуши». <br></p><p>Мы доставляем любые блюда европейской и японской кухни на дом, в офисы, в любое удобное для Вас место.<br></p><p>«Сушими» осуществляет доставку 12 часов по Астане, в течение 1,5 часов. Мы готовим для Вас с любовью!<br></p>
	            </div>
	            <div class="span4">
	                <h3>Японские суши Астаны</h3>
					<p>«Сушими» — демократичная доставка японских суши с яркой, жизнеутверждающей концепцией, с оригинальным двойным меню – суши и антисуши. Мы подарим Вам счастливые минуты беззаботного отдыха в кругу семьи и друзей.<br></p><p>Мы создали уютную, комфортную, дружественную обстановку – нам важно видеть Вас счастливыми!<br></p><p>Мы хотим, чтобы Вам было интересно, проводим регулярные акции, предоставляем скидки и бонусы. Следите за новостями на нашем сайте.</p>
	            </div>
	            <div class="span4">
	                <h3>Вкусное меню и высокое качество продуктов</h3>
	                <p>Мы заботимся о Вашем здоровье, поэтому все блюда готовятся только из продуктов высокого качества, поставляемых проверенными и надежными поставщиками. Наш шеф-повар лично выбирает ингредиенты.<br></p><p>Блюда европейской и японской кухни от «Сушими» вкусные и полезные. Наслаждайтесь блюдами разных стран мира благодаря оригинальному двойному меню – суши и антисуши. В предложениях «Сушими» сочетаются азиатские и европейские традиции. В меню представлены самые популярные кулинарные хиты, у нас каждый гость найдет себе блюдо по вкусу.<br></p>
	            </div>
	        </div>
	    </section>
		<section>
		    <div class="header h2">
		        <a href="/news/" rollapp-href="/news/">Новости</a> и <a href="/actions/" rollapp-href="/actions/">акции</a>
		    </div>
			<div class="flexslider carousel">
				<div class="flex-viewport" style="overflow: hidden; position: relative;">
					<ul class="slides" style="width: 1600%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-710px, 0px, 0px);">
					
						%{ for(event in model.events) { }%
						
						<li style="height: 215px; width: 215px; float: left; display: block;">
			                <div class="ch-item" style="background: #777 url('/public/images/announcements/${event.preparedImageLink}');">
								<div class="ch-info">
									<h3>
			                            <a href="${event.preparedLinkToSource}" rollapp-href="${event.preparedLinkToSource}">${event.description}</a>
			                        </h3>
			                        <p>${new java.text.SimpleDateFormat("dd.MM.yyyy HH:mm").format(event.date.getTime())}</p>
								</div>
							</div>
						</li>
							
						%{ } }%
						
				    </ul>
			    </div>
			    <ol class="flex-control-nav flex-control-paging">
			    	<li>
			    		<a class="" rollapp-href="">1</a>
		    		</li>
		    		<li>
		    			<a rollapp-href="" class="flex-active">2</a>
	    			</li>
    			</ol>
    			<ul class="flex-direction-nav">
    				<li>
    					<a class="flex-prev" href="#" rollapp-href="/#">Previous</a>
   					</li>
   					<li>
   						<a class="flex-next" href="#" rollapp-href="/#">Next</a>
					</li>
				</ul>
			</div>
		</section>
	</div>
</div>
   
   
   
   
   
   
   
   
   
   
   